@using WebApplication1.Models;
@model WebApplication1.Models.FoodServed
@{
    ViewData["Title"] = "Home Page";
}
<div class="container land text-center">
    <div class="row">
        <div class="col-6">
            <h1>
                The Best Restaurants In Your Home
            </h1>
            <p>Order food online in Egypt from hundreds of restaurants nearby</p>
            <div class="ch-order">
                <div class="form-group">
                    @Html.DropDownListFor(f => f.RestaurantID,  (SelectList)ViewBag.RestaurantList, "Choose a Restaurant", new { @class = "form-control" })
                </div>
                <button class="order-btn">
                    <a class="nav-link text-dark" asp-area="" asp-controller="OrderFront" asp-action="Create">Order Now</a>
                </button>
            </div>

        </div>
        <div class="col-6 h-img">
            <img src="~/images/photo-1.png" />
        </div>
    </div>
</div>
<div class="container static text-center">
    <h2>Service shows good taste</h2>
    <div class="row">
        <div class="col">
            <h3>976</h3>
            <div class="text">
                <p>Satisfied</p>
                <p>Customer</p>
            </div>
        </div>
        <div class="col">
            <h3>12</h3>
            <div class="text">
                <p>Best</p>
                <p>Restaurants</p>
            </div>
        </div>
        <div class="col">
            <h3>1K+</h3>
            <div class="text">
                <p>Food</p>
                <p>Delivered</p>
            </div>
        </div>
    </div>
</div>
<div class="container work text-center">
    <div class="head">
        <h2>
            How It Works
        </h2>
        <p>
            Magna sit amet purus gravida quis blandit turpis cursus. Venenatis tellus in
            metus vulputate eu scelerisque felis.
        </p>
    </div>
    <div class="row">
        <div class="col">
            <img src="~/images/illustration-1.png"/>
            <h4><span>01</span> Select Restaurant</h4>
            <p>Non enim praesent elementum facilisis leo vel fringilla. Lectus proin nibh nisl condimentum id. Quis varius quam quisque id diam vel.</p>
        </div>
        <div class="col">
            <img src="~/images/illustration-2.png" />
            <h4><span>02</span> Select Food</h4>
            <p>Non enim praesent elementum facilisis leo vel fringilla. Lectus proin nibh nisl condimentum id. Quis varius quam quisque id diam vel.</p>
        </div>
        <div class="col">
            <img src="~/images/illustration-3.png"/>
            <h4><span>03</span> Wait for delivery</h4>
            <p>Non enim praesent elementum facilisis leo vel fringilla. Lectus proin nibh nisl condimentum id. Quis varius quam quisque id diam vel.</p>
        </div>
    </div>
</div>